<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970079439099-a1rhpgnduomgt9q3h1i73nkaog2vafe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970079439099-a1rhpgnduomgt9q3h1i73nkaog2vafe4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Civm5pJAVH3z6extZyxA3Z435wVWX6I</string>
	<key>GCM_SENDER_ID</key>
	<string>970079439099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.caruthes.leftovers</string>
	<key>PROJECT_ID</key>
	<string>leftovers-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>leftovers-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970079439099:ios:f5e9452a93e18dd5b0885e</string>
</dict>
</plist>